*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:rgba(136, 89, 179, 0.855) ;
}
body {
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.855);
    height: 100vh;
    width: 100vw;
    display: flex;  
    align-items: center;
    justify-content: center;
}
#container form {
    display: flex;
    border: 2px solid rgb(107, 105, 107);
    align-items: center;
    flex-direction: column;
    gap: 2.7rem;
    padding: 3rem 5rem;
    border-radius:10px;
    
}
#container form input{
    padding: 0.4rem 0.87rem; 
    outline: none;
    border:none;
    font-size: 1.23rem;
    border-radius: 0.5rem;
}
#btn {
    padding: 0.6rem 1.3rem;
    background-color: white;
    color: rgba(136, 89, 179, 0.855);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1rem ;
    font: bolder 1.23rem sans-serif;
}
#btn:hover{
    background-color: rgba(136, 89, 179, 0.855);
    color: white;
}

#circle1 {
    height: 150px;
    width: 150px;
    background-color: rgb(218, 109, 178);
    position: relative;
    top: -190px;
    left: -123px;
    border-radius: 50%;
    z-index: -10;
    backdrop-filter: blur(2px);
}
#circle2{
    height: 150px;
    width:150px;
    background-color:rgba(93, 44, 138, 0.855) ;
    position: absolute;
    border-radius:50%;
    right:170px;
    top:480px;
    z-index: -10;
}
.tlt{
    top: -180px;
    position: relative;
    left: -20px;
    width: 470px;
    /* border: 1px solid white; */
    /* padding: 0.2rem; */
    font-size: 2.5rem;
}
img{
    height: 120px;
    width: 120px;
}
p {
    position: relative;
    top: -30px;
    left: -500px;
    width: 400px;
    font-size: 14px;
}
#container {
    position:relative;
    left:-200px;
}